.\!hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
a,
p {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Source Han Serif CN';
  src: url('_SourceHanSerifCN-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif TW';
  src: url('_SourceHanSerifTW-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Serif JP';
  src: url('_SourceHanSerifJP-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

body,
:lang(zh-Hans) {
  font-family: 'Source Han Serif CN', 'Source Han Serif JP', serif;
}

:lang(zh-Hant) {
  font-family: 'Source Han Serif TW', 'Source Han Serif JP', 'Source Han Serif CN', serif;
}

:lang(ja) {
  font-family: 'Source Han Serif JP', 'Source Han Serif CN', serif;
}

.VocabKanji :lang(ja) {
  font-family: 'YuKyokasho Yoko', 'UD Digi Kyokasho NK-R', 'Source Han Serif JP', serif;
}

:root {
  --fg: #1f2937;
  --fg-subtle: #737373;
  --canvas: #fffaf0;
  --canvas-elevated: white;
  --canvas-inset: #f9fafb;
  --border: #d1d5db;
  --border-subtle: #e4e4e4;
  --border-radius: 7px;
  --button-bg: #f3f3f3;
  --button-gradient-start: #f7f7f7;
  --button-primary-bg: #306bec;
  --button-primary-gradient-start: #3b82f6;
  --svg-path: #555;
  --fg-highlight-red: #ef4444;
  --fg-highlight-orange: #f97316;
  --fg-highlight-lime: #84cc16;
  --fg-highlight-teal: #14b8a6;
  --fg-highlight-blue: #3b82f6;
  --fg-highlight-indigo: #6366f1;
  --fg-highlight-purple: #a855f7;
  --font-size: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-4xl: 36px;
  --label-indent-padding: calc(52 / 18 * 1em);
  --label-indent-text: calc(-54 / 18 * 1em);
  --label-indent2-padding: calc(11 / 18 * 1em);
  --label-indent2-text: calc(-13 / 18 * 1em);
  --audio-button-size: calc(32 / 18 * 1em);
  --modal-padding-top: 12vh;
  --modal-max-width: 80%;
}

:root.night-mode,
:root .night_mode,
:root .nightMode,
[data-bs-theme='dark'] {
  --fg: #e5e7eb;
  --canvas: #2c2c2c;
  --canvas-elevated: #363636;
  --canvas-inset: #2c2c2c;
  --border: #494949;
  --border-subtle: #252525;
  --border-radius: 7px;
  --button-bg: #404040;
  --button-gradient-start: #4a4a4a;
  --button-primary-bg: #2652cf;
  --button-primary-gradient-start: #2f67e1;
  --svg-path: #e5e7eb;
  --fg-highlight-red: #fca5a5;
  --fg-highlight-orange: #fdba74;
  --fg-highlight-lime: #bef264;
  --fg-highlight-teal: #5eead4;
  --fg-highlight-blue: #93c5fd;
  --fg-highlight-indigo: #a5b4fc;
  --fg-highlight-purple: #d8b4fe;
  --font-size: 16px;
}

@media (min-width: 475px) {
  :root {
    --text-xs: 14px;
    --text-sm: 16px;
    --text-lg: 22px;
    --text-xl: 24px;
    --text-2xl: 28px;
    --text-4xl: 40px;
    --label-indent-padding: calc(64 / 22 * 1em);
    --label-indent-text: calc(-66 / 22 * 1em);
    --label-indent2-padding: calc(14 / 22 * 1em);
    --label-indent2-text: calc(-16 / 22 * 1em);
    --modal-padding-top: 15vh;
    --modal-max-width: 28em;
  }
}

.card {
  text-align: left;
  color: var(--fg);
  background-color: var(--canvas);
  font-size: var(--text-lg);
}

.card.nightMode {
  background-color: var(--canvas);
}

.card a.hint {
  cursor: pointer;
  color: inherit;
}

.card a.hint[style*='display: none']+div.hint {
  display: inline !important;
}

.card .blur:has(a.hint) {
  filter: none;
}

.card em,
.card ruby rt,
.card .blur b,
.card .blur span,
.card .Top,
.card .Search,
.card .Feedback,
.card .VocabPitch,
.card .DialogContent {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.card u,
.card i,
.card em,
.card b,
.card strong {
  font-style: normal;
  font-weight: inherit;
  text-decoration: none;
}

.replay-button {
  margin: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.replay-button svg {
  width: var(--audio-button-size);
  height: var(--audio-button-size);
}

.replay-button svg circle {
  fill: var(--canvas);
  stroke: var(--svg-path);
  stroke-width: 2.5px;
}

.replay-button svg path {
  fill: var(--svg-path);
}

.tts.replay-button svg circle {
  stroke: var(--fg-highlight-purple);
}

.tts.replay-button svg path {
  fill: var(--fg-highlight-purple);
}

.CardSide {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.LabelIndent {
  padding-left: var(--label-indent-padding);
  text-indent: var(--label-indent-text);
}

.LabelIndent2 {
  padding-left: var(--label-indent2-padding);
  text-indent: var(--label-indent2-text);
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  color: var(--fg-subtle);
  font-size: 14px;
}

a.Feedback {
  color: var(--fg-subtle);
}

.Question {
  min-height: calc(var(--text-4xl) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0 0.5em;
}

.VocabAudio {
  width: var(--audio-button-size);
}

.VocabAudio,
.SentAudio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.SentDef:empty,
.SentAudio:empty {
  display: none;
}

.VocabKanji {
  flex: 1 1 0%;
  text-align: center;
  font-size: var(--text-4xl);
}

.VocabPitch {
  vertical-align: text-top;
  font-size: 16px;
  margin-left: -0.3em;
}

.VocabKanji .VocabPitch {
  margin-left: -0.6em;
}

.Search {
  display: flex;
  flex-direction: column;
  font-size: var(--text-xl);
}

.SentenceList {
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  border: 1px solid var(--border);
  border-top-width: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 12px 8px 12px 0;
}

.Sentence {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2px;
}

.SentKanji {
  flex: 1 1 0%;
  color: var(--fg-subtle);
  line-height: 1.625;
  padding-top: 0.26em;
}

.SentKanji span {
  color: inherit !important;
  background-color: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

.VocabPlus.blur,
.VocabKanji.blur,
.VocabFurigana.blur {
  filter: blur(10px);
}

.SentKanji.blur b,
.SentKanji.blur strong {
  color: var(--canvas);
  border-bottom: 1px solid var(--border);
}

.Answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
  border: 1px solid var(--border);
  border-top-width: 0;
  padding: 8px 8px 8px 0;
}

.VocabFurigana {
  width: 100%;
  padding-left: 0.4em;
  font-size: var(--text-2xl);
}

.VocabPlus {
  width: 100%;
  color: var(--fg-subtle);
}

.SentGroup {
  display: grid;
  flex: 1 1 0%;
  row-gap: 2px;
  min-width: 0;
  overflow: hidden;
}

.SentFurigana {
  overflow-wrap: break-word;
  word-break: break-all;
  line-height: 1.625;
  line-break: anywhere;
  -webkit-line-break: anywhere;
  min-width: 0;
  max-width: 100%;
}

.SentFurigana b,
.SentFurigana strong {
  color: var(--fg-highlight-orange);
  /* text-decoration-line: underline; */
  /* text-underline-offset: 5px; */
}

.SentFurigana i {
  /* color: var(--fg-highlight-lime); */
  font-style: italic;
}

.SentFurigana u {
  /* color: var(--fg-highlight-orange); */
  /* text-decoration-color: var(--fg-highlight-orange); */
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.SentFurigana .antonym {
  color: var(--fg-highlight-blue);
}

.SentFurigana .synonym {
  color: var(--fg-highlight-teal);
}

.SentDef {
  color: var(--fg-subtle);
}

/* --- 针对屏幕尺寸特殊样式 --- */
@media (min-width: 475px) {
  .CardSide {
    padding: 0 24px;
    max-width: 720px;
  }

  .SentenceList {
    min-height: 364px;
  }

  .VocabAudio,
  .SentAudio {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .CardSide {
    max-width: 1024px;
  }
}

/* --- 若需不限制宽度开启以下样式 --- */
/* .CardSide {
  max-width: none !important;
} */

/* --- AnkiWeb 样式 --- */
#quiz {
  --canvas: #fff;
}

#quiz #qa {
  margin-top: 0;
}

#quiz .CardSide {
  padding: 0;
}

/* --- iOS 思源宋体振假名高度修复 --- */
.ios rt,
.safari rt {
  transform: translateY(0.6em);
}

/* --- iOS 若安装教科书字体开启以下样式 --- */
.ios .VocabKanji rt,
.safari .VocabKanji rt {
  /* transform: 0; */
}

/* --- 安卓平台使用系统默认字体 --- */
.android body,
.android :lang(zh),
.android :lang(ja),
.android .VocabKanji :lang(ja) {
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

/* --- 移动端不显示左右边框和底部边框 --- */
.ios *,
.android * {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}

.ios .SentenceList,
.android .SentenceList {
  border-bottom-width: 0;
  min-height: 0;
}

/* --- 弹出模态框样式 --- */
.DialogOverlay {
  /* display: none; */
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  padding-top: var(--modal-padding-top);
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(1px);
}

.DialogTitle {
  text-align: center;
  font-size: var(--text-xl);
  letter-spacing: 2px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 12px;
}

.DialogTitle span {
  display: block;
  font-size: var(--text-sm);
  letter-spacing: 0;
  padding-top: 2px;
}

.DialogContent {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--modal-max-width);
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--canvas-inset);
  padding: 22px 16px;
  font-size: var(--text-sm);
}

.DialogBody {
  margin: 0 auto;
  max-width: 26em;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 10px 0 20px;
}

.DialogBody ul {
  font-size: var(--text-xs);
  padding-left: 1.2em;
  white-space: pre-wrap;
}

.DialogBody ul code {
  background-color: var(--button-bg);
  border-radius: 4px;
  border: 1px solid var(--border-subtle);
  color: var(--fg);
  vertical-align: text-bottom;
  padding: .2em .4em;
  font-size: 85%;
  white-space: break-spaces;
}

.DialogBody ul b {
  font-weight: 600;
}

.DialogFooter {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.DialogButton {
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--border-subtle);
  border-radius: var(--border-radius);
  background-color: var(--button-bg);
  padding: 6px 0;
  text-align: center;
  color: var(--fg);
  letter-spacing: 2px;
}

.DialogButton:hover {
  background-color: var(--button-gradient-start);
}

.DialogButton.CancelButton {
  color: var(--fg);
  background-color: var(--button-bg);
}

.DialogButton.ConfirmButton {
  color: #fff;
  background-color: var(--button-primary-bg);
}

.DialogButton.ConfirmButton:hover {
  background-color: var(--button-primary-gradient-start);
}